<div bg-patteren="true">
  <div  class="container mx-auto 2xl:px-10 px-5" data-controller="aboutus">
  <div class="  pt-20 lg:pt-24">
    <div class="  bg-gradient-to-br relative to-blue-950  from-sky-800 py-20 rounded-xl overflow-hidden  ">
      <div class="absolute -top-1 -right-1">
        <svg width="104" height="106" viewBox="0 0 104 106" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M103.189 80.9074C100.522 81.2407 97.8086 81.4256 95.0567 81.4535C56.0605 81.8484 24.1277 50.5559 23.7328 11.5597C23.6957 7.90061 23.9377 4.30371 24.4388 0.78922L0.607862 1.03056C0.242085 4.56647 0.0721495 8.15966 0.109005 11.7989C0.636058 63.8422 43.2527 105.604 95.296 105.077C98.0371 105.05 100.75 104.905 103.429 104.648L103.189 80.9074Z"
            fill="#F7DF61"></path>
        </svg>
      </div>
      <div data-aboutus-target-value="500" data-aboutus-target="counter"
        class=" sm:text-9xl text-7xl opacity-10 text-white absolute top-0 left-0 font-extrabold sm:pl-3 pl-2">
        0</div>
      <div class=" text-center">
        <div class="w-full ">
          <div class=" text-white">
            <div class="text-center py-3"><span class="text-blue-950 text-base font-semibold uppercase leading-tight">👋
              </span><span class="text-white text-base font-semibold uppercase leading-tight ">HELLO</span></div>
            <h2 class=" text-4xl font-bold  sm:text-4xl md:text-[40px] ">
              Ace Your CV with ApplyAce </h2>
            <p class="text-base pt-2 text-white">
              Revolutionize Your CV Creation with AI-Powered Content Generation!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" py-6  grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <%= image_tag("cvtemplate1.png" , alt:"cvtempalte1" ) %>
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <%= link_to "Generate Now", "temp1", class: "md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950 from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white text-center" %>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <img src="https://bowwe.com/static/images/templates/Purple%20Background%20CV/EN/Groovy-desktop-new.webp" alt="cvtempalte" class="h-full">
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <a href="temp2" 
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </a>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <img src="https://bowwe.com/static/images/templates/Red%20Background%20CV/EN/Stylish-desktop-new.webp" alt="cvtempalte" class="h-full">
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <img src="https://bowwe.com/static/images/templates/CV%20Blue%20Resume/Smooth%20CV-desktop-new.webp" alt="cvtempalte">
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <%= image_tag("cvtemplate5.png" , alt:"cvtempalte5"  ) %>

      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <%= image_tag("cvtemplate6.png" , alt:"cvtemplate6" ) %>
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <%= image_tag("cvtemplate7.png" , alt:"cvtemplate7" ) %>
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <img src="https://bowwe.com/static/images/templates/CV%20About%20Me/EN/Mint%20CV-desktop-new.webp" alt="cvtempalte">
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    <div class="relative w-full h-full object-contain bg-slate-500 overflow-hidden rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] cursor-pointer ">
      <%= image_tag("cvtemplate8.png" , alt:"cvtemplate8" ) %>
      <div class="w-full h-full absolute top-0 z-10 grid place-content-center opacity-0 transition-opacity duration-300 hover:opacity-100 bg-[#00000072]">
        <button
          class="md:w-fit w-full md:justify-start justify-center mt-2 mb-1 items-center flex bg-gradient-to-br to-blue-950  from-sky-800 hover:bg-gradient-to-bl py-2 px-4 border border-transparent shadow-sm text-xs font-medium rounded-md text-white  text-center">
          <div class="">Generate Now</div>
        </button>
      </div>
    </div>
    

  </div>

</div>